{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
  
  
  
      <title>
      {% block title %}
        Valorarte
      {% endblock title %}
         </title>
  
         
         {% block extrastyle %}
           
         {% endblock extrastyle %}

      
  <!-- Bootstrap core CSS -->
   <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
   <!-- Custom styles for this template -->
   <link href="{% static 'css/formstyle.css' %}" rel="stylesheet">

  <link href="{% static 'css/simple-sidebar.css' %}" rel="stylesheet">

</head>

<body>

  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    
    {% block navbar %}
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading"> ValorArte </div>
        <div class="list-group list-group-flush">
          <a href="{% url 'pedidos:pedidos_crear' %}" class="list-group-item list-group-item-action bg-light">Pedidos</a>
          <a href="{% url 'pedidos:pedidos_listar' %}" class="list-group-item list-group-item-action bg-light">listar Pedidos</a>
          <a href="{% url 'album:album_crear' %}" class="list-group-item list-group-item-action bg-light">Album</a>
          <a href="{% url 'album:album_listar' %}" class="list-group-item list-group-item-action bg-light">Listar Album</a>
        </div>
      </div>
          
    {% endblock navbar %}
        
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    
    {% block content %}
    
       
        
    {% endblock content %}
        
    <!-- /#page-content-wrapper -->

    
    {% block footer %}
        
    {% endblock footer %}
        

  </div>
  <!-- /#wrapper -->

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Menu Toggle Script -->
  <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  </script>

</body>

</html>
