{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">

<head>
  <meta http-equiv="content-type" content="text/plain; charset=UTF-8"/>
  <meta charset="utf-8">
  <meta http-equiv="content-type" content="application/vnd.ms-excel; charset=UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
  
  
  
      <title>
      {% block title %}
        Valorarte
      {% endblock title %}
         </title>
  
         
         {% block extrastyle %}
           
         {% endblock extrastyle %}

         <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

  <!-- Bootstrap core CSS -->
   <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
   <!-- Custom styles for this template -->
   <link href="{% static 'css/formstyle.css' %}" rel="stylesheet">

  <link href="{% static 'css/simple-sidebar.css' %}" rel="stylesheet">

</head>

<body>

  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    
    {% block navbar %}
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading"> ValorArte </div>
        <div class="list-group list-group-flush">
          <button href="{% url 'pedidos:pedidos_crear' %}" class="btn btn-primary">
            Pedidos
          </button>
          <a href="{% url 'pedidos:pedidos_listar' %}" class="btn list-group-item list-group-item-action bg-light">Listar Pedidos</a>
          <a href="{% url 'album:album_crear' %}" class="btn list-group-item list-group-item-action bg-light">Album</a>
          <a href="{% url 'album:album_listar' %}" class="btn list-group-item list-group-item-action bg-light">Listar Album</a>
          
          

          
          

          {% if user.is_staff %}
          <a href="{% url 'usuarios:registrar' %}" class="btn list-group-item list-group-item-action bg-light">Crear Usuario</a>
        
            
          {% endif %}
            
            
          
            
          
        
          
            
         
        
        </div>
      </div>




      <div id="page-content-wrapper">

        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
  
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
  
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
              <li class="nav-item active">
                <a class="btn nav-link" href="{% url 'logout' %}">Cerrar Sesión <span class="sr-only">(current)</span></a>
              
            </ul>
          </div>
        </nav>
  
          
    {% endblock navbar %}
        
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    
    {% block content %}
    
       
        
    {% endblock content %}
        
    <!-- /#page-content-wrapper -->

    
    {% block footer %}
        
    {% endblock footer %}
        

  </div>
  <!-- /#wrapper -->

  <!-- Bootstrap core JavaScript -->
  
  

{% block scripts %}
  
{% endblock scripts %}
  
  
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/excel.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/csvAlbum.js' %}"></script>

  <!-- Menu Toggle Script -->
  <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  </script>

</body>

</html>
