{% extends 'base/base.html' %}
{% load staticfiles %}

{% block title %}
    Registrar Usuario
{% endblock title %}


{% block navbar %}
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading"> ValorArte </div>
        <div class="list-group list-group-flush">
            <a href="{% url 'pedidos:pedidos_crear' %}" class="btn list-group-item list-group-item-action bg-light">Pedidos</a>
          
            <a href="{% url 'pedidos:pedidos_listar' %}" class="btn list-group-item list-group-item-action bg-light">Listar Pedidos</a>
          
            <a href="{% url 'album:album_crear' %}" class="btn list-group-item list-group-item-action bg-light">Album</a>
          
            <a href="{% url 'album:album_listar' %}" class="btn list-group-item list-group-item-action bg-light">Album Listar</a>
        
          <button href="{% url 'usuarios:registrar' %}" class="btn btn-primary">
            Crear Usuario
          </button>
          
        
        </div>
      </div>




      <div id="page-content-wrapper">

        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
  
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
  
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
              <li class="nav-item active">
                <a class="btn nav-link" href="{% url 'logout' %}">Cerrar Sesión <span class="sr-only">(current)</span></a>
              
            </ul>
          </div>
        </nav>
  
          
    {% endblock navbar %}

 

   
    


{% block content %}



<div class="container">  
        <form id="contact" action="" method="post">
                {% csrf_token %}
          <h3>Registrar nuevo usuario</h3>
          
          <fieldset>
            <input placeholder="Nombre" type="text" tabindex="1" required autofocus name="first_name">
          </fieldset>
          <fieldset>
                <input placeholder="Apellido" type="text" tabindex="1" required autofocus name="last_name">
          </fieldset>
        
          <fieldset>
                <input placeholder="Nombre de Ususario" type="text" tabindex="1" required autofocus name="username">
         </fieldset>
              

          <fieldset>
            <input placeholder="Correo" type="email" tabindex="2" required>
          </fieldset>
          <fieldset>
                <input placeholder="Contraseña" type="password" tabindex="1" pattern=".{8,}" title="Debe contener 8 o mas caracteres" required autofocus name="password1">
          </fieldset>
              
          
          <fieldset>
                <input placeholder="Confirmar Contraseña" type="password" tabindex="1" pattern=".{8,}" title="Debe contener 8 o mas caracteres" required autofocus name="password2">
          </fieldset>
          


          <fieldset>
            <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Registrar</button>
          </fieldset>
          
          
        </form>
      </div>


      

{% endblock content %}
    