{% extends 'base/base.html' %}




    

{% block content %}
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>id</td>
                <td>Fundación</td>
                <td>Cantidad</td>
                <td>Acciones</td>
            </tr>
        </thead>
        
                    
        <tbody>
            {% if object_list %}
            
            {% for albums in object_list %}
            <tr>
                <td>{{albums.id}}</td>
                <td>{{albums.fundacion}}</td>
                <td>{{albums.cantidad}}</td>
                <td>
                    <a class="btn btn-primary" href="{%url 'album:album_editar' albums.id%}">Editar</a>
                    <a class="btn btn-danger" href="{%url 'album:album_eliminar' albums.id%}">Eliminar</a>
             
                </td> 
            </tr>
            {% endfor %}
            {% else %}
            <h1>no existen registros</h1>
                
        {% endif %}

           
        </tbody>

    </table>
{% endblock content %}
    