{% extends 'base/base.html' %}




{% block navbar %}
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading"> ValorArte </div>
        <div class="list-group list-group-flush">
            <a href="{% url 'pedidos:pedidos_crear' %}" class="btn list-group-item list-group-item-action bg-light">Pedidos</a>
          
          <button href="{% url 'pedidos:pedidos_listar' %}" class="btn btn-primary">
            Listar Pedidos
          </button>
          <a href="{% url 'album:album_crear' %}" class="btn list-group-item list-group-item-action bg-light">Album</a>
          <a href="{% url 'album:album_listar' %}" class="btn list-group-item list-group-item-action bg-light">Listar Album</a>
          {% if user.is_staff %}
          <a href="{% url 'usuarios:registrar' %}" class="btn list-group-item list-group-item-action bg-light">Crear Usuario</a>
        
            
          {% endif %}
            
        </div>
      </div>




      <div id="page-content-wrapper">

        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
  
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
  
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
              <li class="nav-item active">
                <a class="btn nav-link" href="{% url 'logout' %}">Cerrar Sesión <span class="sr-only">(current)</span></a>
              
            </ul>
          </div>
        </nav>
  
          
    {% endblock navbar %}



    

{% block content %}
<div class="limiter">
        <div class="container-table100">
          <div class="wrap-table100">
            <div class="table100">
              <table class="dataP">
                <thead>
                  <tr class="table100-head">
                        <th class="column1">id</th>
                        <th class="column3">Responsable</th>
                        <th class="column3">Destino</th>
                        <th class="column3">Cantidad</th>
                        <th class="column3">Álbum</th>
                        <th class="column3">Fecha</th>
                        <th class="column3">Contacto</th>
                        <th class="column3">Observaciones</th>
                        <th class="column6">Estado</th>
                        
                        <th class="column6">Acciones</th>
                        
                      
                </thead>
                <tbody class="fpedido">
                        {% if object_list %}
                        
                        {% for pedido in object_list %}
                        

                        <tr>

                          
                          
                          
                            
                          
                          
                          {% if pedido.estado == "entregado" %}
                          <td class="column1" bgcolor="#93FB72">{{pedido.id}}</td>
                          <td class="column2" bgcolor="#93FB72">{{pedido.responsable}}</td>
                          <td class="column2" bgcolor="#93FB72">{{pedido.destino}}</td>
                          <td class="column2" bgcolor="#93FB72">{{pedido.cantidad}}</td>
                          

                          
                          {% if faltan_album|index:forloop.counter0 < 0 %}
                          <td class="column2" bgcolor="#F52C3B">{{pedido.album_p}} faltan: {{faltan_album|index:forloop.counter0}} </td>
                         {% else %}
                         <td class="column2" bgcolor="#93FB72">{{pedido.album_p}} </td>
                         
                          {% endif %}
                            
                          
                          
                          <td class="column2" bgcolor="#93FB72">{{pedido.fecha}}</td>
                          <td class="column2" bgcolor="#93FB72">{{pedido.contacto}}</td>
                          <td class="column2" bgcolor="#93FB72">{{pedido.observaciones}}</td>
                          <td class="column2" bgcolor="#93FB72">{{pedido.estado}}</td>
                          
                          <td class="column6" bgcolor="#93FB72">
                              <a class="btn btn-primary" href="{%url 'pedidos:pedidos_editar' pedido.id%}">Editar</a>
                              <a class="btn btn-danger" href="{%url 'pedidos:pedidos_eliminar' pedido.id%}">Eliminar</a>
                          </td>

                          {% elif pedido.estado == "pendiente"%}
                          <td class="column1" bgcolor="#D3EC2E">{{pedido.id}}</td>
                          <td class="column2" bgcolor="#D3EC2E">{{pedido.responsable}}</td>
                          <td class="column2" bgcolor="#D3EC2E">{{pedido.destino}}</td>
                          <td class="column2" bgcolor="#D3EC2E">{{pedido.cantidad}}</td>
                          {% if faltan_album|index:forloop.counter0 < 0 %}
                          <td class="column2" bgcolor="#F52C3B">{{pedido.album_p}} faltan: {{faltan_album|index:forloop.counter0}} </td>
                         {% else %}
                         <td class="column2" bgcolor="#93FB72">{{pedido.album_p}} </td>
                         
                          {% endif %}
                         
                          <td class="column2" bgcolor="#D3EC2E">{{pedido.fecha}}</td>
                          <td class="column2" bgcolor="#D3EC2E">{{pedido.contacto}}</td>
                          <td class="column2" bgcolor="#D3EC2E">{{pedido.observaciones}}</td>
                          <td class="column2" bgcolor="#D3EC2E">{{pedido.estado}}</td>
                          
                          <td class="column6" bgcolor="#D3EC2E">
                              <a class="btn btn-primary" href="{%url 'pedidos:pedidos_editar' pedido.id%}">Editar</a>
                              <a class="btn btn-danger" href="{%url 'pedidos:pedidos_eliminar' pedido.id%}">Eliminar</a>
                          </td>
                          {% elif pedido.estado == "en espera"%}
                          <td class="column1" >{{pedido.id}}</td>
                          <td class="column2" >{{pedido.responsable}}</td>
                          <td class="column2" >{{pedido.destino}}</td>
                          <td class="column2" >{{pedido.cantidad}}</td>
                          {% if faltan_album|index:forloop.counter0 < 0 %}
                          <td class="column2" bgcolor="#F52C3B">{{pedido.album_p}} faltan: {{faltan_album|index:forloop.counter0}} </td>
                         {% else %}
                         <td class="column2" >{{pedido.album_p}} </td>
                         
                          {% endif %}
                         
                          <td class="column2" >{{pedido.fecha}}</td>
                          <td class="column2" >{{pedido.contacto}}</td>
                          <td class="column2" >{{pedido.observaciones}}</td>
                          <td class="column2" >{{pedido.estado}}</td>
                            
                          

                          
                              
                          <td class="column6">
                              <a class="btn btn-primary" href="{%url 'pedidos:pedidos_editar' pedido.id%}">Editar</a>
                              <a class="btn btn-danger" href="{%url 'pedidos:pedidos_eliminar' pedido.id%}">Eliminar</a>
                          </td>

                          
                                                      
                          
                            

                          
                
                            
                          {% endif %}
                          

                

                            
                            
                        </tr>
                        {% endfor %}

                        <tr>

                          <td class="column1"  ></td>
                          <td class="column2" ></td>
                          <td class="column2" bgcolor="#0AE2F7"><font color="Black">TOTAL EN PEDIDOS</font></td>
                          <td class="column2" bgcolor="#0AE2F7"><font color="Black">{{total_tabla}}</font></td>
                          <td class="column2" ></td>
                          <td class="column2" bgcolor="#0AE2F7"><font color="Black">TOTAL ÁLBUMES DISPONIBLES</font></td>
                          <td class="column2" bgcolor="#0AE2F7"><font color="Black">{{cantidad_album}}</font></td>
                          
                          <td class="column2" ></td>
                          <td class="column2" ></td>


                        </tr>
                          
                          
                        <tr>

                          <td class="column1"  ></td>
                          <td class="column2" ></td>
                          <td class="column2" bgcolor="#0AE2F7"><font color="Black">TOTAL ALBUM REGISTRADOS</font></td>
                          <td class="column2" bgcolor="#0AE2F7"><font color="Black">{{album_total}}</font></td>
                          <td class="column2" ></td>
                          <td class="column2" ></td>
                          <td class="column2" ></td>
                          <td class="column2" ></td>
                          <td class="column2" ></td>
                         

                        </tr>
                          

                        
                          

                        
                        {% else %}
                        <h1>no existen registros</h1>
                            
                    {% endif %}
                    
                    
                    {% if cantidad_album > 0 %}
                    <h1 class="btn btn-success">Cantidad Total De Álbumes Disponibles {{cantidad_album}}</h1>  
                    {% else %}
                    <h1 class="btn btn-danger">Cantidad Total De Álbumes Disponibles {{cantidad_album}}</h1>  
                    

                    {% endif %}
                      
                    
                      
                    
                   

                    
                </tbody>

                
                

              </table>

              <iframe id="txtArea1" style="display:none"></iframe>
              <br>
              <button  class="btn btn-warning" id="expt">Descargar CSV de la tabla</button>

            </div>
          </div>
        </div>
      </div>

{% endblock content %}



    