{% extends 'base/base.html' %}


{% block title %}
    Eliminar Pedido
{% endblock title %}




{% block content %}


<div class="container">  
        <form id="contact" action="" method="post">
                {% csrf_token %}
          
          
          
          <h3><b>¿Desea elimimar el registro de {{object.responsable}}?</b></h3>
        <button class="btn btn-primary" type="submit">Sí, Eliminar</button>
         <a class="btn btn-danger" href="{% url 'pedidos:pedidos_listar' %}">Volver</a>

              
          
              
          
        
          

 
        </form>
      </div>

    
{% endblock content %}
 