{% extends 'base/base.html' %}


{% block title %}
    Registrar Pedido
{% endblock title %}




{% block content %}

<div class="container">  
        <form id="contact" action="" method="post">
                {% csrf_token %}
          <h3>Pedido</h3>
          
          
          <fieldset>
                <legend style="font-size:17px"> Responsable </legend>
                <input placeholder="" type="text" tabindex="1" value="{{pedido.responsable}}" required autofocus name="responsable">
              </fieldset>

              <fieldset>
                  <legend style="font-size:17px"> Destino </legend>
                
                  <input placeholder="" type="text" tabindex="1"  value="{{pedido.destino}}" required autofocus name="destino">
              </fieldset>

              <fieldset>
                  <legend style="font-size:17px"> Cantidad </legend>
                
                    <input placeholder="" type="number" tabindex="1"  value="{{pedido.cantidad}}" required autofocus name="cantidad">
              </fieldset>

              <fieldset>
                        <legend style="font-size:17px"> Fecha </legend>
                    
                    <input placeholder="Fecha" type="date" tabindex="1"  value="{{pedido.fecha|date:'Y-m-d'}}" required autofocus name="fecha">
              </fieldset>

              <fieldset>
                  <legend style="font-size:17px"> Contacto (Número) </legend>
                
                    <input placeholder="" type="number" tabindex="1"  value="{{pedido.contacto}}" required autofocus name="contacto">
              </fieldset>

              <fieldset>
                        <legend style="font-size:17px"> Observaciones </legend>
                
                    <input placeholder="" type="text" tabindex="1"  value="{{pedido.observaciones}}" required autofocus name="observaciones">
              </fieldset>
            
              <legend style="font-size:17px"> Estado </legend>
                
              <select class="browser-default custom-select" required autofocus name="estado">
                        <option value="{{pedido.estado}}">{{pedido.estado}}</option>
                  <option value="en espera">En espera</option>
                  <option value="entregado">Entregado</option>
                  <option value="pendiente">Pendiente</option>
                </select>
              
          
        
          <br>
          <br>


          <fieldset>
            <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Registrar</button>
          </fieldset>
          
        </form>
      </div>
    
{% endblock content %}
    